.gp-textarea {
	border: 1px solid #ced4da;
	height: 110px;
	width: 100%;
	resize: none;
	font-weight: 500;
	font-size: 15px;
	padding: 8px;
  }
  .img-profil {
	object-fit: cover;
  }
  .gp-icon {
	height: 50px;
  }
  .imgPreview {
	max-height: 300px;
  }
  .validate
{
background-color: rgb(243, 72, 86);
color: #ffffff;
border-color: rgb(243, 72, 86);
margin-right: 5%;
margin-right: 5%;
margin-bottom: 2%;
width: 100%
}  
.validat
{
background-color: rgb(243, 72, 86);
color: #ffffff;
border-color: rgb(243, 72, 86);
margin-right: 5%;
margin-left: 15%;
margin-bottom: 2%;
width: 100%
}